<!DOCTYPE html>
<html>
<link href='https://fonts.googleapis.com/css?family=Bungee+Shade|News+Cycle' rel='stylesheet'>
<style>
.header {
  /* styles */
  text-align:center;
  margin-top: 50px; /* or whatever */
}
</style>

<div class="header">
<h1 style="background-color:#FFFFFF;color:#4484CE;font-size=500%;text-align:center;font-family:'Bungee Shade';">
  Thanks for using!
</h1>
</div>

</html>
