<!DOCTYPE html>
<html>
<link href='https://fonts.googleapis.com/css?family=Bungee+Shade|News+Cycle' rel='stylesheet'>
<style>
.header {
  /* styles */
  text-align:center;
  margin-top: 50px; /* or whatever */
}
.body {
  /* styles */
  text-align:center;
  margin-top: 20px; /* or whatever */
}
</style>

<div class="header">
<h1 style="background-color:#FFFFFF;color:#4484CE;font-size=500%;font-family:'Bungee Shade';">
  Thanks for using!
</h1>
</div>

<div class="body">
<b1 style="font-size=200%;font-family:'News Cycle';color:'black';">
  Check back soon for improvements!
  <IMG SRC="https://orig00.deviantart.net/9824/f/2015/113/c/f/pug_by_luczynski-d8qqowk.gif">
  </b1>
  </div>

</html>
