<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>

</head>
<body>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Downloading your PowerPoint presentation...</h1>
    <p>Questions? Concerns? Contact us at hello@wikippt.com</p>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/node-js-getting-started"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
  </div>
</div>
<script src="scripts/script.js" defer></script>
</body>

</html>
