<!DOCTYPE html>
<html>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<style>
form {
  /* Just to center the form on the page */
  margin: 0 auto;
  width: 500px;
  /* To see the outline of the form */
  padding: 1.4em;
  border: 3px solid;
  border-radius: 2em;
  text-align:center;
  margin-bottom: 25px;
  color:white;
  line-height:2;
}

img.display{
width:80px;
height: auto;
display:block;
margin-left:auto;
margin-right:auto
}

}
</style>
<link href='https://fonts.googleapis.com/css?family=Bungee+Shade|News+Cycle' rel='stylesheet'>

<h1 style="background-color:#FFFFFF;color:#4484CE;font-size=500%;text-align:center;font-family:'Bungee Shade';">
Wikipedia to Powerpoint Generator
</h1>

<body style="background-color:#FFFFFF;font-family:'News Cycle';">

<form style="background-color:#D9D9D9">
  What would you like to make a PowerPoint about today?  <br>
  <input type="text" size="30" placeholder="Search for topic...">
</form>

<form style="background-color:#F9CF00">
  What information would you like to include?<br>
  <input type="radio" name="gender" value="male" checked> Background
  <input type="radio" name="gender" value="female"> Notable Accomplishments <br>
  <input type="radio" name="gender" value="male" checked> Quotes
  <input type="radio" name="gender" value="female"> Images
</form>

<form style="background-color:#F19F4D">
What style PowerPoint do you want? <br>
  <input type="radio" name="gender" value="male" checked> Default
  <input type="radio" name="gender" value="female"> Custom
</form>

<form method="get" action="/ppt" style="background-color:#4484CE;">
   <button id="download" onclick="createPPT()" type="submit" name="download">Download!</button>
</form>
<txt1 style="text-align:center;">Click pug to download!</txt1>
<a href="/images/myw3schoolsimage.jpg" download>
  <img class = "display" src="https://cdn.pixabay.com/photo/2017/11/22/16/05/pug-2970827_960_720.png" alt="W3Schools">
</a>
<script lang="javascript" src="pptxgenjs/libs/jquery.min.js"></script>
<script lang="javascript" src="pptxgenjs/libs/jszip.min.js"></script>
<script lang="javascript" src="pptxgenjs/dist/pptxgen.js"></script>
<script src="scripts/script.js" defer></script>
</body>
</html>
