<!DOCTYPE html>
<html>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<style>
form {
  margin: 0 auto;
  width: 500px;

  padding: 1.4em;
  border: 3px solid;
  border-radius: 2em;
  text-align: center;
  color:white;
  line-height:2;
}
</style>
<link href='https://fonts.googleapis.com/css?family=Bungee+Shade|News+Cycle' rel='stylesheet'>

<h1 style="background-color:#FFFFFF;color:#4484CE;font-size=500%;text-align:center;font-family:'Bungee Shade';">
Wikipedia to Powerpoint Generator
</h1>

<body style="border-image-slice: 0 12 0 12; border-image-width: 0px 12px 0px 12px; border-image-outset: 0px 0px 0px 0px; border-image-repeat: repeat repeat; border-image-source: url("https://mdn.mozillademos.org/files/6015/border-image-5.png");background-color:#FFFFFF;font-family:'News Cycle';">

<form style="background-color:#D9D9D9">
  What would you like to make a PowerPoint about today?  <br>
  <input type="text" size="30" placeholder="Search for topic...">
</form>

<form style="background-color:#F9CF00">
  What information would you like to include?<br>
  <input type="radio" name="gender" value="male" checked> Background
  <input type="radio" name="gender" value="female"> Notable Accomplishments <br>
  <input type="radio" name="gender" value="male" checked> Quotes
  <input type="radio" name="gender" value="female"> Images
</form>

<form style="background-color:#F19F4D">
What style PowerPoint do you want? <br>
  <input type="radio" name="gender" value="male" checked> Default
  <input type="radio" name="gender" value="female"> Custom
</form>

<form method="get" action="/ppt" style="background-color:#4484CE;">
   <button id="download" type="submit" name="download">Download!</button>
</form>
<script lang="javascript" src="pptxgenjs/libs/jquery.min.js"></script>
<script lang="javascript" src="pptxgenjs/libs/jszip.min.js"></script>
<script lang="javascript" src="pptxgenjs/dist/pptxgen.js"></script>
<script src="scripts/script.js" defer></script>
</body>
</html>
